.games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.new-game {
  height: 330px;
  width: 300px;
  background-color: whitesmoke;
  display: flex;
}

.new-game > button {
  flex: auto;
  font-size: 5.3em;
  cursor: pointer;
}